RewriteEngine on
RewriteCond $1 !^(index\.php|mobile|images|assets|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /forum/index.php/$1 [L]
Options -Indexes
ErrorDocument 403 /index.php
